<div class="container mt-4">
      <select class="form-select" (change)="onBreedSelect($event)">
        <option value="">Selecciona una raza...</option>
        <option *ngFor="let b of breeds$ | async" [value]="b.id">{{b.name}}</option>
      </select>

      <app-carousel [items]="selectedImages$ | async"></app-carousel>

      <div class="input-group my-4">
        <input #searchBox type="text" class="form-control" placeholder="Buscar raza...">
        <button class="btn btn-primary" (click)="search(searchBox.value)">Buscar</button>
      </div>

      <app-table [data]="dataSource$ | async"></app-table>
    </div>